@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ITCBenguiatStdBoldCn';
  src: url('/fonts/ITCBenguiatStdBoldCn.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-itcbenguiat: 'ITCBenguiatStdBoldCn', Arial, sans-serif;
  --background: #ffffff;
  --foreground: #032C1F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #032C1F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-itcbenguiat); 
}
